.wrapper {
  background-color: var(--color-header-bg);
  min-width: 1020px;
}

.navigation {
  display: grid;
  grid-template-columns: 161px auto min-content;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.logo {
  display: block;

  &:hover {
    opacity: 0.7;
  }
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1.1px;
}

.icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.item {
  margin-right: 40px;

  &:hover {
    color: var(--color-black-hover);
  }

  &:active {
    color: var(--color-black-active);
  }

  &:last-child {
    margin-right: 0;
  }
}

.items {
  margin-right: 11px;

  &:last-child {
    margin-right: -1px;
  }
}

.icon {
  padding: 12px;
  display: flex;
}

.svg {
  color: var(--color-black);

  &:hover {
    color: var(--color-black-hover);
  }

  &:active {
    color: var(--color-black-active);
  }
}

.guitar {
  position: relative;
  height: 200px;
  min-width: 1020px;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 282px;

    background-image: url(../../images/line_header.png);
    background-repeat: repeat-x;
    background-color: white;
    background-position: 0% 24px;
    background-size: auto;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    right: 0;
    top: -38px;
    width: 825px;
    height: 298px;

    background-image: url('../../images/guitar_header.png');
    background-repeat: no-repeat;
    background-size: 825px 298px;
    background-position: 90% center;
  }
}

.cart_number {
  color: var(--color-red);
  font-size: 10px;
  line-height: 0;
  margin-left: 2px;
  margin-top: 2px;
}