.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-right: 36px;
  letter-spacing: 0.6px;
}

.link_arrow {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -23px;
    top: 7px;
    width: 12px;
    height: 7px;

    background-image: url('../../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
}