.item {
  display: flex;
  justify-content: space-between;
  border-top: 0.7px solid var(--color-grey);
  padding-top: 18px;
  padding-bottom: 17px;

  &:last-child {
    border-bottom: 0.7px solid var(--color-grey);
  }
}

.description_wrapper {
  display: flex;
}

.button {
  border: none;
  width: 12px;
  height: 12px;
  background-image: url('../../images/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: auto;
  margin-right: 26px;
  margin-left: 4px;
  margin-top: 5px;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.image {
  display: block;
  width: 52px;
  margin-right: 67px;
}

.name {
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1.5px;
  margin-bottom: 14px;
  margin-top: 2px;
}

.text {
  font-size: 14px;
  line-height: 15px;
  margin: 0;
  letter-spacing: 1.1px;
  margin-bottom: 6px;
}

.price_wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 423px;
}

.price {
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 1px;
  margin-top: 60px;

  &_total {
    font-weight: 700;
  }
}

.quantity_wrapper {
  display: flex;
  padding-top: 21px;
}

.button_quantity {
  width: 28px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--color-number);
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: 8px 10px;

  &_minus {
    background-image: url('../../images/minus.svg');
  }

  &_plus {
    background-image: url('../../images/plus.svg');
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.quantity_input {
  width: 28px;
  height: 30px;
  text-align: center;
  border-top: 1px solid var(--color-number);
  border-bottom: 1px solid var(--color-number);
  border-left: none;
  border-right: none;
  color: var(--color-number);
  font-size: 16px;
}